.custom-column-direction{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.custom-margin{
  margin: 25px;
}

.custom-border{
  border: 1px solid blue;
}

.custom-row-direction{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.child1{
  border: 1px solid red;
}

.child2{
  border: 1px solid green;
}
